@media only screen and (max-width : 1439px) {
  .mn__ul {
    gap: 60px;
  }
  .portf__title {
    font-size: 46px;
  }
  .portf__txt {  
    + .btn {
      margin-top: 50px;
    }
  }
  .portf__advant {    

  }
  .portf__r {
    width: 38%;
    margin-left: auto;
  }
  .portf__cont {
    width: 58%;
  }
  .portf__advant {
    margin-top: 67px;
  }
  .advant__name {
    font-size: 20px;
  }
  .h2 {
    font-size: 41px;
  }
  .h2:before {
    height: 4px;
    width: 180px;
  }
  .what__h-txt {
    font-size: 18px;
    padding-right: 0;
  }
  .what__items {
    gap: 18px;
  }
  .what__item {
    padding: 20px;
  }
  .what__item-name {
    font-size: 19px;
  }
  .btn-o,
  .btn {    
    font-size: 18px;
  }
  .adv-comp__r > p {
    font-size: 21px;
  }
  .adv-comp__w {
    gap: 72px;
  }
  .top__row {
    gap: 80px;
  }
  .foot__mn__ul {
    gap: 50px;
  }
  .zon__row {
    gap: 20px;
  }
  .banner__row {
    gap: 72px;
  }
  .products__row {    
    grid-template-columns: repeat(3, 1fr);
  }
  .padvants__item p {
    font-size: 42px;
  }
  .howwork__item p {
    font-size: 18px;
  }
  .why-prof {    
    grid-template-columns: repeat(2, 1fr);
  }
  .capab__w {    
    grid-template-columns: repeat(3, 1fr);
  }
  .contsus__row {
    display: grid;  
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .comp__w {
    gap: 60px;
  }
  .servv__advant-item p {
    font-size: 28px;
  }
  .portf__r {
    width: 35%;
  }
  .portf__row._bgwh .portf__cont {
    width: 65%;
  }
  .servv__advant {
    margin-top: 80px;
  }
}//1439


@media (max-width : 1199px) {
  .top__row {    
    align-items: center;
  }
  .top {
    position: relative;
  }

  .top__row-mobile-line,
  .burger-w,
  .logo {
    position: relative;
    z-index: 15;
  }

  .burger-w {
    display: flex;    
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 36px;
    height: 36px;    
    flex: none;
    background: $r;
    margin-left: auto;    
  }
  .burger {    
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    border-radius: 15px;    
    position: relative;
  }
  .burger.burger-open {
    background-color: transparent;
  }
  .burger:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 15px;
  }
  .burger:after {
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 15px;
  }
  .burger.burger-open:before {
    transform: rotate(45deg) translate(5px, 5px);
    top: -7px;
  }
  .burger.burger-open:after {
    transform: rotate(-45deg) translate(8px, -9px);
    top: 12px;
  }
  .header__row {
    position: relative;
  }
  .header__col {
    position: absolute;
    width: 100%;
    background-color: #FFF;
    right: 0;    
    transition: 0.5s;
    height: 100vh;    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    top: 0;
    z-index: 14;
    overflow-y: auto;
    transform: translateX(150%);      
    padding-top: 118px;
    padding-bottom: 30px;      
    border-radius: 0 0 30px 30px;
  }
  .header__col.open {
    transform: translateX(0);
  }


  .top__r {

  }
  .portf {
    padding-top: 20px;
  }
  .section {
    padding: 40px 0;
  }
  .portf__title {
    font-size: 38px;
  }
  .portf__txt {
    font-size: 16px;    
    + .btn {
      margin-top: 25px;
    }
  }
  .portf__advant-img {
    width: 40px;
    height: 40px;
    img {
      max-width: 20px;
      height: auto;
    }
  }
  .portf__advant-item {
    gap: 10px;
  }
  .portf__advant-txt {
    font-size: 18px;
  }
  .portf__advant {  
    margin-top: 57px;  
    gap: 30px;
  }
  .advant__item {
    padding: 20px;
    min-height: 197px;
  }
  .advant__name {
    font-size: 18px;
  }
  .h2 {
    font-size: 34px;
  }
  .what__h-txt {
    font-size: 16px;
  }
  .what__items {    
    gap: 18px;    
    grid-template-columns: repeat(2, 1fr);
  }
  .exampl__w {
    gap: 18px;        
  }
  

  .disc__title {
    font-size: 40px;
  }
  .disc__form-w {
    width: 325px;
  }
  .foot__mn__ul {
    gap: 34px;
    margin-top: auto;
  }
  .footer {
    padding: 60px 0;
  }
  .foot__l {
    gap: 14px;
  }
  .foot__conts {
    margin-bottom: 45px;
  }
  .adv-comp__video {
    margin-bottom: -253px;
  }
  .s-adv-comp {
    padding-bottom: 340px;
  }
  .need__form {
    gap: 11px;
  }
  .deliv__w,
  .zon__row {    
    grid-template-columns: repeat(2, 1fr);
  }
  .advantss__row {
    grid-template-columns: repeat(2, 1fr);
  }

  .comp-prof {
    display: flex;    
    flex-direction: column;
  }

  .padvants__row {    
    grid-template-columns: repeat(2, 1fr);
  }
  .oprod__row {    
    grid-template-columns: repeat(2, 1fr);
  }

  .howwork__row {    
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .head__logo-border {
    display: none;
  }
  .top__row-mobile-line {
    background: linear-gradient(90deg, #ec930f 0%, #dc2022 100%);    
    width: 100%;
    height: 2px;    
    border-radius: 3px;
    display: block;
  }

  .top__row {
    padding-bottom: 7px;    
    gap: 7px;  
    flex-wrap: wrap;
  }

  .mn__ul,
  .top__cont-w {    
    flex-direction: column;
    flex: unset;
  }
  .mn__ul {
    margin-left: unset;
    width: 100%;
    gap: 30px;
  }
  .header__col {
    gap: 40px;
  }
  .top__cont-w {
    width: 100%;
  }
  .head__conts {    
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
  .call__w {
    display: contents;
  }

  .top-btn-o {
    width: 100%;
    margin-top: auto;
  }
  .trust__item-img {
    height: 92px;
    img {
      max-height: calc(100% - 0px);
      width: auto;
    }
  }
  .trust__item {
    min-height: 150px;
  }
  .comp__banner {
    height: 390px;
  }
}//1199

@media (max-width : 991px) {
  .portf {
    padding-bottom: 40px;
  }
  .advant__w {
    grid-template-columns: repeat(2, 1fr);
  }
  .adv-comp__w {
    display: flex;    
    flex-direction: column;
  }
  .adv-comp__r > p {
    font-size: 18px;
  }
  .adv-comp__w {
    gap: 40px;
  }
  .adv-comp__video {

  }
  .adv-comp__rad {

  }
  
  .h4 {
    font-size: 20px;
  }
  .outd__col {
    width: 100%;
  }
  .outd__bg {
    padding: 60px 0;
  }
  .disc__w {    
    flex-direction: column;
  }
  .disc__form-w {
    width: 100%;
  }
  .foot__w { 
    display: flex;   
    flex-direction: column;
  }
  .foot__mn__ul {
    margin-left: unset;    
    justify-content: center;
  }
  .foot__conts {    
    justify-content: center;
  }
  .disc__map {
    width: 100%;
  }
  .banner__content {
    width: 100%;
  }
  .banner__bg {
    min-height: unset;
  }
  .zon__w {
    padding: 60px 25px;
  }
  .payment__row {    
    grid-template-columns: repeat(2, 1fr);
  }
  .need__w,
  .imp__w {
    padding: 60px 25px; 
  }
  .banner__row {    
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .products__row {
    grid-template-columns: repeat(2, 1fr);
  }
  .conts__row {
    display: flex;    
    flex-direction: column;
  }
  .vform {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .ptabs__row {    
    grid-template-columns: repeat(2, 1fr);
  }
  .ptabs {
    .cpadding {
      padding-right: 0;
    }
  }
  .ptabs__list {  
    flex-wrap: nowrap;
  }
  .ptabs__scroll {
    overflow-x: auto;    
  }
  .oequip__item {
    .item-img__w {
      height: 180px;
      img {
        max-height: calc(100% - 40px);
      }
    }
  } 
  .comp__w {
    display: flex;    
    flex-direction: column;
    gap: 30px;
  }
  .capab__txt, .capab__desc p,
  .adv-comp__txt-w p {
    margin-bottom: 15px;
  }

  .comp__wrap {
    padding: 16px;
  }
  .capab__w {
    grid-template-columns: repeat(2, 1fr);
  }
  .s-capab {
    padding: 60px 0;
  }
  .trust__w {
    grid-template-columns: repeat(3, 1fr);
  }
  .boxes__row {   
    display: flex; 
    flex-direction: column;
  }
  .portf__row._bgwh {    
    flex-direction: column;
    padding: 30px 15px;
  }
  .portf__row._bgwh .portf__r {
    width: 100%;
  }
  .portf__row._bgwh .portf__cont {
    width: 100%;
  }
  .servv__advant {
    margin-top: 50px;  
    width: 100%;
  }
  .prod__w {    
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .matterial__w {

    grid-template-columns: repeat(2, 1fr);    
  }
}//991

@media (max-width : 767px) {
  .foot__mn__ul {
    gap: 20px;
    width: 100%;
    justify-content: space-between;
  }
  .foot__mn__ul li a {
    font-size: 16px;
  }
  .foot__conts {
    margin-bottom: 20px;
  }
  .disc__w {
    padding: 60px 20px 20px;
  }
  .adv-comp__video:before {
    width: 52px;
    height: 52px;
    -webkit-background-size: 52px;
    -o-background-size: 52px;
    background-size: 52px;
  }
  .h2 {
    font-size: 30px;
  }
  .portf__row {    
    flex-direction: column;
  }
  .portf__cont {
    width: 100%;
  }
  .portf__r {
    height: 270px;
    width: 100%;
    margin-left: unset;
    aspect-ratio: unset;
  }
  .portf__advant {
    margin-top: 41px;    
  }
  .adv-comp__video {
    margin-bottom: -163px;
  }
  .s-adv-comp {
    padding-bottom: 190px;
  }
  .deliv__w,
  .zon__row,  
  .imp__row,
  .need__form {
    display: flex;
    flex-direction: column;
  }
  .deliv__item,
  .zon__item,
  .imp__item {
    width: 100%;
  }  
  .deliv__name-w,
  .deliv__txt,
  .deliv__name {
    min-height: unset;
  }
  .ptabs__row {
   display: flex;   
   flex-direction: column; 
 }
 .ptabs__row {
  padding-top: 20px;
}
.ptabs__list {  
  gap: 15px;
  li {
    font-size: 16px;
    padding: 18px 30px;
  }
}
.s-ptabs {
  padding-top: 0;
}
.ptabs__item {
  .item-img__w {
    height: 245px;
  }
  .item__body {
    padding: 10px 20px 20px 20px;
  }
} 
.ptabs__lbl {
  font-size: 12px;
  height: 28px;
}
.ptabs__title {
  font-size: 20px;
}
.ptabs__txt {
  font-size: 14px;
}
.ptabs__row {    
  gap: 20px;
}
.oprod__row {

}
.s-oprod {
  padding: 30px 0;
  .h2__w {  
    flex-wrap: wrap;
    .h2 {
      width: 100%;
    }
  }
}
.oequip__item {
  padding: 10px;
}
.oequip__item .item__body {
  padding: 10px;
  padding-top: 15px;
}
.oequip__item .item__body a {
  font-size: 20px;
  margin-bottom: 10px;
}
.oequip__item .item__body p {
  font-size: 13px;
}
.oequip__item .item__body {
  ul {
    li {
      font-size: 12px;
      padding: 8px;
      padding-left: 19px;
      &:before {
        width: 8px;
        height: 8px;
        left: 6px;
      }  
    }
  }
}
.oequip__row {    
  gap: 10px;
}

.sserv__row {
  display: flex;  
  flex-direction: column;
  gap: 20px;
}
.why-prof {
  display: flex;    
  flex-direction: column;
  gap: 20px;
}
.comp-prof__img {
 img {
   max-height: calc(100% - 30px);
 } 
}
.howwork:before {
  background: url(../img/howwork-bg-mob.jpg) no-repeat center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.capab__item {  
  flex-direction: column;
  padding-right: 0;
}
.capab__w {
  gap: 20px 10px;
  margin-bottom: 30px;
}
.capab__name {
  max-width: 100%;
  padding: 10px;
  padding-top: 0;
}
.capab__img {
  width: 100%;
}
.trust__head-w {  
  flex-direction: column;
  gap: 20px;  
  align-items: flex-start;
  > p {
    width: 100%;
  }

}
.s-capab {
  .h2 {
    margin-bottom: 20px;
  }
} 
.trust__w {
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.contsus__row {
  display: flex;  
  flex-direction: column;
}
.contsus__txt {
  margin-bottom: 20px;
}
.comp__banner,
.comp__wrap {  
  border-radius: 30px;
}
.comp__banner {
  height: 320px;
}
.comp__body {
  padding-top: 30px;
}
.trust__head-w > p,
.capab__txt, .capab__desc p,
.adv-comp__txt-w p {
  font-size: 14px;
}
.comp__wrap {
  padding-left: 0;
  padding-right: 0;
}
.capab__name {
  font-size: 18px;
}
.trust__item {
  padding: 14px 10px;
}
.trust__item-img {
  margin-bottom: 10px;
}
.trust__name {
  font-size: 14px;
}
.trus__desc {
  font-size: 16px;
}
.contsus {
  padding: 80px 20px;
}
.contsus__txt {
  font-size: 14px;
}
.contsus__cont {
  gap: 10px;
  font-size: 18px;
}
.comp__banner {
  margin-right: 10px;
  margin-left: 10px;        
  width: calc(100% - 20px);
}
.boxes__inf-tab {
  font-size: 16px;
  height: 52px;
  padding: 0 20px;
}
}//767

@media (max-width : 640px) {
  .foot__call__w,
  .foot__conts {    
    flex-direction: column;
  }
  .portf__title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .portf__txt {    
    + .btn {
      margin-top: 20px;
    }    
  }
  .portf__btn {
    width: 100%;
  }
  .portf__advant {
    display: grid;  
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .portf__r {
    margin-bottom: 20px;
  }
  .what__items {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .what__item {
    min-height: unset;
    padding: 20px 20px 28px 20px;
  }
  .what__item-name {
    min-height: auto;
    font-size: 20px;
  }
  .what__item-txt {
    min-height: auto;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .exampl__w {
    display: flex;    
    flex-direction: column;
  }
  .exampl__item {
    width: 100%;
  }
  .exampl__btn {
    padding: 0 17px;
    width: 100%;
    margin-top: 20px;
  }
  .btn,
  .btn-o {
    font-size: 20px;
  }
  .h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  /**parag 14*/
  .outd__col p,
  .adv-comp__txt-w {
    font-size: 14px;
  }

  .adv-comp__w {
    gap: 30px;
    margin-bottom: 30px;
  }
  .adv-comp__r > p {
    margin-top: 10px;
    font-size: 16px;
  }
  .adv-comp__video {    
    border-radius: 20px;
    margin-bottom: -100px;
  }
  /*radius*/
  .zon__w,
  .banner__bg,
  .disc__w,
  .outd__bg,
  .adv-comp__rad {    
    border-radius: 30px;
  }
  .s-adv-comp {
    padding-bottom: 120px;
  }  
  .outd__col .h4 {
    margin-top: 20px;
  }
  .h4 {
    font-size: 17px;
  }
  .disc__title {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .disc__txt {
    font-size: 14px;
  }
  .disc__w {
    gap: 30px;
  }

  .disc__label {
    margin-top: 0;
  }
  .disc__map {
    height: 360px;
  }
  .footer {
    margin-top: 40px;
    .contain {
      padding: 0 35px;
    }
  }
  .foot__l {
    gap: 20px;
  }
  .foot__call__w, .foot__conts {    
    align-items: flex-start;
    gap: 30px;
  }
  .foot__conts {
    margin-bottom: 0;
  }
  .foot__mn__ul {    
    flex-direction: column;
    gap: 30px;    
    align-items: flex-start;
    li {
      a {
        font-size: 18px;
      }
    }
  }
  .foot__w,
  .head__row {
    gap: 40px;
  }
  .portf {
    min-height: 630px;
    display: flex;    
    flex-direction: column;    
    flex-grow: 1;
    .contain {
      height: 100%;
      display: flex;    
      flex-direction: column;    
      flex-grow: 1;
    }
    &._inverse {
      min-height: unset;
    }
  }
  .portf__btn {
    margin-top: auto;
  }
  .portf__cont {    
    flex-grow: 1;
    display: flex;    
    flex-direction: column;    
  }
  

  .portf__row {
    height: 100%;    
    flex-grow: 1;
    display: flex;    
    flex-direction: column;    
  }
  .s-banner {
    padding-top: 21px;
  }
  .banner__bg {
    min-height: 566px;
    padding: 0;
    padding-top: 60px;
  }
  .banner-img__w {
    width: 100%;
    height: 320px;
    bottom: 0;
    transform: translate(0, 0);
    &:before {
      display: none;
    }  
    img {
      object-position: left top;
    }
  }
  .banner__content p {
    font-size: 14px;
  }
  .deliv__img {
    height: 185px;
  }
  .deliv__name,
  .deliv__price {
    font-size: 20px;
  }
  .deliv__txt {
    font-size: 14px;
  }
  .deliv__item {
    padding: 20px;
  }
  .deliv__item ul li {
    font-size: 14px;
  }
  .deliv__item ul li:before {
    width: 20px;
    height: 20px;
    -webkit-background-size: 20px;
    -o-background-size: 20px;
    background-size: 20px;
  }
  .deliv__w {
    gap: 20px;
  }
  .zon__row {
    margin-top: 0;
    width: calc(100% + 40%);
    flex: none;
  }
  .zon__w {
    padding-right: 0;    
    .slick-slide {
      padding: 0 5px;
    }
  }
  .s-zon {
    .contain {
      max-width: 100%;
      padding: 0;
    }
  }
  .zon__item-w {
    margin-bottom: 20px;
  }
  .zon__item {
    min-height: 511px;
    ul li {
      font-size: 14px;
    }
  } 
  .zon__img {
    height: 200px;
  }
  .payment__row {
    display: flex;    
    flex-direction: column;
    gap: 10px;
  }
  .payment__item {
    gap: 10px;
    padding: 20px;
  }
  .payment__name {
    font-size: 20px;
  }
  .payment__txt {
    font-size: 14px;
  }
  .imp__row {
    margin-top: 0;
  }
  .imp__item {
    padding: 30px 20px;
  }
  .imp__itom-name {
    font-size: 18px;
  }
  .imp__item ul li,
  .imp__txt {
    font-size: 14px;
  }
  .imp__txt {
    margin-bottom: 10px;
  }

  .imp__item ul li {    
   padding-left: 21px;
   background-size: 9px;
   background-position: left top 7px; 
 }
 .need__w {
   padding: 60px 20px;
 }
 .need__w {
   .h2 {
     text-align: left;
     margin-bottom: 10px;
   }
 }
 .need__txt {
   font-size: 14px;
   text-align: left;
 }
 .banner__bg--2 {
  padding-bottom: 0;
  .contain {
    padding: 0;
  }
}
.banner__row .banner__content {
  padding: 0 15px;
}
.banner-img__w2 {
  height: 320px;
  aspect-ratio: unset;
}
.products__row {
}
.products__title {
  min-height: unset;
}

.products__item .item-img__w {
  height: 225px;
}
.s-products {
  .contain {
    position: relative;
  }
}
.products__row {  
  display: flex;  
  flex-wrap: nowrap;  
  flex-direction: row;
  margin-right: -15px;
  gap: 10px;
}

.products__scroll {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 20px;  
  &::-webkit-scrollbar {
    width: 16px;       
    border-radius: 8px;        /* ширина scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: #fff;        /* цвет дорожки */
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $r;    /* цвет плашки */
    border-radius: 8px;       /* закругления плашки */
    border: 4px solid #fff;  /* padding вокруг плашки */
  }   
}
.products__title {
  font-size: 18px;
  margin-bottom: 6px;
}
.products__item {
  width: 240px;  
  flex: none;
}
.products__item .item__body p {
  font-size: 14px;
}
.advantss__row {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.advantss__item {
  padding: 20px;
}
.advantss__name {
  font-size: 20px;
  margin-bottom: 10px;
  min-height: unset;
}
.advantss__txt {
  font-size: 14px;
  min-height: unset;
}
.need__w._stat {
  .need__txt,
  .h2 {
    text-align: center;
  }
}
.need__txt {
  margin-bottom: 30px;
}
.comp-prof__title {
  font-size: 20px;
}
.comp-prof__txt {
  font-size: 14px;
}
.comp-prof__item {
  gap: 10px;  
  padding: 20px;
}
.comp-prof {    
  gap: 20px;
}
.conts__lbl {
  font-size: 26px;
  margin-bottom: 20px;
}
.conts__item .item-img__w {
  margin-bottom: 10px;
}
.conts__infos {
  margin-bottom: 20px;
}
.conts__infos p, .conts__infos a {
  font-size: 20px;
}
.conts__info {
  font-size: 16px;
}
.conts__row {    
  gap: 20px;
}
.contsmap__item .item__body {
  padding-top: 20px;
}
.contsmap__item .contsmap__title {
  font-size: 22px;
  margin-bottom: 10px;
}
.contsmap__item .contsmap__txt {
  font-size: 14px;
  margin-bottom: 20px;
}
.contsmap__item .contsmap__links {
  gap: 32px;
  a {
    font-size: 16px;
  }
}
.vform {  
  border-radius: 30px;
  .need__txt {
    text-align: center;
  }
}
.imp__item ul.imp__req li {  
  font-size: 16px;  
}
.imp__w {
  border-radius: 30px;
}
.banner-img__w {
  border-radius: 30px;
}
.banner-img__w2 {    
  border-radius: 30px;
}
.h2__w {
  gap: 10px;
}
.oprod__item {    
  flex-direction: column;
}
.oprod__img {
  width: 100%;
  height: 130px;
}
.h2__w {
  margin-bottom: 20px;
}
.oprod__row {
  gap: 10px;
}
.oprod__item {
  padding: 5px;
}
.oprod__body {
  padding: 5px 5px 5px 5px;
}
.oprod__title {
  font-size: 15px;
  margin-bottom: 5px;
}
.oprod__text {
  font-size: 13px;
}
.cat__lbl {
  height: 30px;
  padding: 0 8px;
  font-size: 14px;
  text-transform: none;
}
.oprod__ul {  
  gap: 5px;
  margin-top: 5px;
  li {
    a {
      padding: 0 12px;
      font-size: 13px;
      height: 29px;
    }
  }
}
.s-oequip {
  .cpadding {
    padding-right: 0;
  }
}
.oequip__scroll {
  padding-bottom: 20px;
  width: 100%;
  overflow-x: auto;
  padding-right: 15px;
  &::-webkit-scrollbar {
    width: 16px;       
    border-radius: 8px;        /* ширина scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: #fff;        /* цвет дорожки */
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $r;    /* цвет плашки */
    border-radius: 8px;       /* закругления плашки */
    border: 4px solid #fff;  /* padding вокруг плашки */
  }
}

.oequip__row {
  display: flex;  
  flex-wrap: nowrap;
  width: max-content;
  margin-right: -15px;
}    
.oequip__item {
  width: 240px;  
  flex: none;
}
.boxes {
  padding: 30px 15px;
}
.boxes__price {
  font-size: 16px;
  padding: 0 15px;
  min-height: 50px;
  width: 100%;
}
.boxes__img-w {
  margin-bottom: 20px;
}
.boxes__price i {
  font-size: 14px;
}
.s-boxes {
  .contain {
    padding: 0;
  }
}
.s-boxes {
  padding-top: 40px;
}
.boxes__txt-w p {
  font-size: 14px;
}
.boxes__prod-table td {
  font-size: 13px;
}
.boxes__inf-txt {
  font-size: 14px;
}
.boxes__tabs .tabs__content-list {
  padding-top: 20px;
}
.boxes__inf-btn-w {
  -ms-overflow-x: auto;
  overflow-x: auto;
  li {
    flex: none;
    
  }
}
.boxes__prod-table td {
  padding: 16px 10px; 
}
.portf__row._bgwh .portf__cont {  
  align-items: flex-start;
}
.portf__lbl {
  font-size: 14px;
  height: 22px;
}
.portf__row._bgwh .portf__r {
  height: 306px;
}
.portf__txt {
  font-size: 14px;
}
.servv__advant {
  margin-top: 20px;
}
.servv__advant-item p {
  margin-bottom: 5px;
}
.servv__advant-item span {
  font-size: 14px;
}
.servv__advant {
  display: grid;  
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 10px;
}
.matterial__w {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-top: 20px;
}
.prod__w {
  display: flex;
  flex-direction: column;
}
.prod__img {
  height: 240px;
  img {

  }
}
.prod__txt-w {
  padding: 20px;
}
.prod__title {
  font-size: 20px;
}
.prod__txt {
  font-size: 14px;
}
.ptabs__item-2 .ptabs__title {
  min-height: unset;
}
.product__inf-txt + .comp-prof {
  margin-top: 40px;
}
.product__inf-txt {
  font-size: 14px;
}
.portf__row._bgwh {
  margin-left: -15px;
  margin-right: -15px;
  width: calc(100% + 30px);
}
.s-product {
  padding-top: 0;
  margin-top: -10px;
}

.description {
  margin-top: 22px;
  font-size: 10px;
  line-height: 2;
  .text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    line-clamp: 10;
    box-orient: vertical;
    &.more {
      overflow: visible;
      text-overflow: unset;
      -webkit-line-clamp: unset;
      line-clamp: unset;
      box-orient: unset;
    }
  }
}

.description .show-more {
  display: inline-flex;  
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 1;  
  color: var(--txt);
  gap: 10px;
  background: none;
  border: none;
  margin-top: 20px;
  &:after {
    content: "";
    display: block;    
    width: 18px;
    height: 16px;
    background: url("../img/show-more.svg") no-repeat center;
  }  
  &.open {
    &:after {
      transform: rotate(180deg);
    }
  }
}
.adv-comp__txt-w {  
          align-items: flex-start;
}
.adv-comp__rad {
  padding-top: 30px;
}
.subtitle {
  font-size: 14px;
}
}//640

@media (max-width : 575px) {
  .padvants__row {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .padvants__item {
    padding: 30px 20px;
    min-height: 180px;
  }
  .padvants__item p {
    font-size: 58px;
  }
  .padvants__item span {
    font-size: 16px;
  }
  .howwork {
    padding: 60px 10px;    
    border-radius: 30px;
  }
  .howwork__item span {
    font-size: 13px;
  }
  .howwork__item {
    padding: 20px 10px;
  }
  .howwork__item i {
    margin-bottom: 10px;
  }
  .sserv__img-w {
    height: 280px;
    img {
      max-height: calc(100% - 50px)
      
    }
  }
  .sserv__body {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 0;
  }
  .sserv__title {
    font-size: 20px;
  }
  .sserv__lbl {
    font-size: 12px;
    height: 28px;
    margin-bottom: 10px;
  }
  .sserv__body p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .sserv__body ul {
    margin-bottom: 10px;
    li {
      font-size: 13px;
      padding-left: 35px;
      background-position:  left 10px center;
      background-size: 15px;
    }
  }
  .sserv__btn {
    width: 100%;
  }
  .sserv__item {
    padding: 10px;
    padding-bottom: 24px;
  }
  .top {
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .logo {
    width: 117px;
  }
  .advant__w {
    display: flex;    
    flex-direction: column;
  }
  .advant__name-w {
    gap: 10px;
    min-height: unset;
  }
  .advant__item {
    min-height: 160px;
  }
  .bread {
    padding-top: 0;
  }
  .bread ul li {
    font-size: 16px;
  }
  .s-comp {
    padding-top: 20px;
  }
}//575

@media (max-width : 480px) {
  .adv-comp__video {
    margin-bottom: -80px;
  }
  .adv-comp__video {
    height: 180px;
    aspect-ratio: unset;
  }
  .s-adv-comp {
    padding-bottom: 120px;
  }
  
}//480

@media (max-width : 375px) {

}//375

@media only screen and (max-width : 360px) {
  body, body > * {
    width: auto;
    min-width: 360px;
  }
}