@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$r: #dc2022;
$ff2: 'Open Sans', sans-serif;


@import "_reset.scss";
@import "_media.scss";


:root {
  --txt: #181516;
  --red: #dc2022;
  --font-family: "Jost", sans-serif;
  --second-family: "Montserrat", sans-serif;
}


@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri-regular.woff') format('woff'),
  url('../fonts/Calibri-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  outline: none;
}

textarea {  
  &:hover, &:active, &:focus {    
    outline: none;    
  }
}

body {
  font-family: "Jost", sans-serif;
  font-weight: normal;
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  &.ohi {
    overflow: hidden;
  }
}



.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
  overflow: hidden;
  display: flex;    
  flex-direction: column;    
  min-height: 100vh;
  background: rgb(242, 242, 242);
}

.main {  
  flex-grow: 1;
}

/*modal*/


.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;  
  display: none;
  background: rgba(45, 40, 40, 0.5);
}

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 6;   
  width: 555px; 
  background-color: #FFF;
  min-height: 100px;
}

.modal-form__inner {
  position: relative;  
}

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close-w.svg") no-repeat 0 0;
}

/*end modal*/

.btn,
.btn-o,
*[class$="__btn"] {  
  transition: 0.5s;
  transform: translateY(0);
  &:hover {
    text-decoration: none;
    opacity: 0.9;    
    transform: translateY(-2px);
  }
}



.top {

  padding-top: 20px;
  padding-bottom: 20px;
}

.contain {
}

.top__row {
  display: flex;
  gap: 120px;
}

.head__logo-w {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  gap: 20px;
}

.logo {  
  width: 212px;  
  display: inline-flex;  
  flex: none;
  img {
    max-width: 100%;
    height: auto;
    width: 100%;
  }
}

.head__logo-border {
  border-radius: 3px;
  width: 100%;
  height: 6px;
  background: linear-gradient(90deg, rgb(236, 147, 15) 0%, rgb(220, 32, 34) 100%);
}

.top__r {
  width: 100%;
  flex: 1 1 auto;
  gap: 23px;
  display: flex;
  flex-direction: column;
}

.top__cont-w {
  display: flex;
  gap: 50px;
  align-items: center;
  flex: 1 1 auto;
  justify-content: space-between;
}

.top-btn-o {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;  
  color: var(--txt);
  background-color: #FFF;
  height: 56px;
  display: inline-flex;  
  flex: none;
  border: 2px solid rgb(220, 32, 34);
  border-radius: 18px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  &:hover {
    text-decoration: none;
  }
}

.head__conts {
  display: flex;
  gap: 40px;  
  justify-content: flex-end;
}

.head__cont-mail {
  font-weight: 500;
  font-size: 18px;  
  color: rgb(24, 21, 22);
  display: inline-flex;
  align-items: center;
  background: url("../img/cont-1-head.svg") no-repeat left center;
  padding-left: 33px;
}

.head__span {
  margin-right: 5px;
  width: 24px;
  height: 24px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.call__w {
  gap: 30px;
  display: flex;
  align-items: center;  
}

.call {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(24, 21, 22);
  align-items: center;
  background: url("../img/cont-2-head.svg") no-repeat left center;
  padding-left: 26px;
  min-height: 20px;  
  flex: none;
}

.mn__ul {
  display: flex;
  gap: 110px;
  flex: 1 1 auto;
  margin-left: auto;
  li {
    display: inline-flex;
    align-items: center;
    a {
      font-weight: 500;
      font-size: 18px;      
      color: #181516;  
      &:hover {
        text-decoration: none;
      }
      @media (any-hover: hover) {
        &:hover {
          color: $r;          
        }
      }    
      &.act {
        font-weight: 500;  
        color: $r;
      }
    }
  }
}


.portf {
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 130px;
  padding-bottom: 60px;
  &._inverse {
    .portf__advant-txt,
    .portf__txt,
    .portf__title {
      color: var(--txt);
    }
  }
}

.portf__row {
  display: flex;
  gap: 24px;  
  align-items: flex-start;
}

.portf__r {  
  width: calc(50% - 12px);
  border-radius: 20px;
  overflow: hidden;
  aspect-ratio: 1.075 / 1;
  height: auto;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.portf__cont {
  width: calc(50% - 12px);
}

.portf__title {
  font-weight: 600;
  font-size: 52px;
  line-height: 1.2;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  span {
    color: $r;
  }
}

.portf__txt {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.02em;  
  color: rgb(255, 255, 255);
  margin-bottom: 80px;
  font-family: var(--second-family);
}

.btn {
  display: inline-flex;
  border-radius: 20px;
  height: 58px;
  background: rgb(220, 32, 34);
  font-weight: 500;
  font-size: 18px;
  color: rgb(255, 255, 255);  
  align-items: center;
  justify-content: center;
  padding: 0 68px;
  gap: 10px;
  position: relative;
  z-index: 1;
  box-shadow: 0 5px 0 #a81007;
  i {    
    flex: none;
    width: 18px;
    height: 16px;
    background: url("../img/arr-r-white.svg") no-repeat center;
  }  
}

.btn-o {
  border: 2px solid rgb(220, 32, 34);
  border-radius: 20px;
  padding: 0 30px;
  height: 60px;
  background: rgb(255, 255, 255);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;  
  color: #181516;
  gap: 10px;
  i {    
    flex: none;
    width: 18px;
    height: 16px;
    background: url("../img/arr-r-bl.svg") no-repeat center;
  }  
}


.portf__btn {
  padding-left: 88px;
  padding-right: 88px;

}


.portf__advant {
  margin-top: 97px;
  display: flex;
  gap: 40px;
}

.portf__advant-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.portf__advant-img {
  border-radius: 20px;
  width: 60px;
  height: 60px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;  
  flex: none;
}

.portf__advant-txt {
  font-weight: 500;
  font-size: 20px;
  text-transform: lowercase;
  color: rgb(255, 255, 255);
}

.s-advant {  
  padding: 60px 0;  
}

.advant__w {
  border-radius: 20px;
  background: rgba(220, 32, 34, 0.6);
  padding: 14px;
  display: grid;  
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
}

.advant__item {
  border-radius: 20px;
  min-height: 216px;  
  background: rgb(255, 255, 255);
  padding: 30px;
}

.advant__img {
  border-radius: 20px;
  width: 60px;
  height: 60px;
  background: rgb(220, 32, 34);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  flex: 0 0 auto;
}

.advant__name-w {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 76px;
  gap: 10px;
}

.advant__name {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(24, 21, 22);
}

.advant__txt {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgb(24, 21, 22);
  text-transform: lowercase;
}


.s-what {  
  padding: 60px 0;
}


.what__h-w {
  display: flex;
  flex: 1 1 auto;
  align-items: flex-end;
}

.h2__w {
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;    
  align-items: flex-end;
  margin-bottom: 40px;
  .h2 {
    margin-bottom: 0;
  }
}

.h2 {
  font-weight: 600;
  font-size: 48px;
  text-transform: uppercase;
  color: rgb(24, 21, 22);
  margin-bottom: 0px;
  line-height: 1.2;
  position: relative;
  padding-top: 11px;
  margin-bottom: 30px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;    
    border-radius: 3px;
    width: 212px;
    height: 6px;
    background: linear-gradient(90deg, #ec930f 0%, #dc2022 100%);
  }  
}

.what__h-txt {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: rgb(24, 21, 22);    
  padding-right: 156px;
  font-family: var(--second-family);
}

.what__items {  
  display: flex;
  gap: 24px;
  display: grid;  
  grid-template-columns: repeat(4, 1fr);
}

.what__item {
  border-radius: 20px;  
  min-height: 511px;
  background: rgb(255, 255, 255);
  padding: 30px;
  display: flex;  
  flex-direction: column;
}

.what__item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 185px;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: 30px;
  &:hover {
    text-decoration: none;
  }
}

.what__item-name {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(24, 21, 22);
  margin-bottom: 10px;
  min-height: 48px;
  display: block;
  &:hover {
    text-decoration: none;
  }
}

.what__item-txt {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.02em;  
  text-align: center;
  color: rgb(24, 21, 22);
  margin-bottom: 20px;
  min-height: 75px;
  font-family: var(--second-family);
}

.what__item-btn {  
  padding: 0 20px;
  height: 60px;  
  width: 100%;  
  font-size: 20px;  
  margin-top: auto;
}

.s-exampl {
  background: rgb(242, 242, 242);
  padding-top: 60px;
  padding-bottom: 60px;
}

.exampl__btn {

}

.exampl__btn-span {
  background-image: url("img/arr-r-black.svg");
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 10px;
}

.exampl__w {
  margin-top: 40px;
  display: grid;  
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.exampl__item {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
  height: auto;
  aspect-ratio: 1.1868 / 1;  
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;    
    background-image: url("../img/extens.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 62px;
    height: 62px;
    z-index: 2;
    visibility: hidden;
    opacity: 0;    
    transition: 0.33s;
  } 
  @media (any-hover: hover) {
   &:hover {
     &:before {
       opacity: 1;
       visibility: visible;
     }
   }
 } 
}



.s-adv-comp {
  background: rgb(242, 242, 242);
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 458px;
}

.adv-comp__rad {
  border-radius: 60px;
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: rgb(255, 255, 255);
  padding-top: 133px;
  display: flex;
  justify-content: center;
  position: relative;
}

.adv-comp__w {  
  margin-bottom: 50px;
  display: grid;  
  grid-template-columns: 1fr 32.2%;
  gap: 142px;
}

.adv-comp__l {  
}

.adv-comp__txt-w {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: -0.02em;
  color: rgb(24, 21, 22);
  display: flex;
  flex-direction: column;  
  p {    
    &:last-child {
      margin-bottom: 0;
    }
  }
}


.adv-comp__r {

  > p {
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    color: rgb(24, 21, 22);    
    margin-bottom: 0;
  }
}

.adv-comp-img {
  width: 100%;  
  height: auto;
  aspect-ratio: 1.171 / 1;
  border-radius: 20px;
  background: rgb(24, 21, 22);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 53px 63px;
  flex: 0 0 auto;
  overflow: hidden;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.adv-comp__video {
  border-radius: 50px;
  background: rgba(24, 21, 22, 0.6);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 100%;
  height: auto;
  aspect-ratio: 1.486 / 1;
  margin-bottom: -393px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &:hover {
    text-decoration: none;
  }
  &:before {
    content: "";
    position: absolute;
    display: flex;
    width: 100px;
    height: 100px;
    background-image: url("../img/video-btn.svg");
    background-repeat: no-repeat;
    background-position: center center;    
    flex: 0 0 auto;
    z-index: 2;
  }  
}

.adv-comp__video._stat {
  aspect-ratio: 1.7789 / 1;
}



.s-outd {
  background: rgb(242, 242, 242);
  padding: 60px 0;
  display: flex;
  justify-content: center;
}

.outd__bg {
  background-image: url("../img/outd-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;         
  background-size: cover;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
  padding: 120px 0;
  width: 100%;
  max-width: 1840px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.outd__w {
  display: flex;  
  align-items: flex-start;
}

.outd__col {
  width: 50%;
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: -0.02em;
    color: rgb(255, 255, 255);  
    &:last-child {
      margin-bottom: 0;
    }
  }
  .h4 {
    margin-top: 30px;
    margin-bottom: 0;
  }
}



.h4 {  
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 25px;  
}

.w-row.redbord > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.s-disc {
  background: rgb(242, 242, 242);
  padding-top: 60px;
  padding-bottom: 60px;
}



.disc__w {
  border-radius: 50px;
  padding: 80px;
  background-image: url("../img/disc-bg1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.disc__form-w {
  width: 395px;  
  flex: none;
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  input[type="text"] {
    background: rgb(255, 255, 255);
    border-radius: 20px;
    height: 58px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: rgba(24, 21, 22, 0.5);    
    width: 100%;    
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  button {
    width: 100%;
  }
}

.disc__title {
  font-weight: 600;
  font-size: 48px;
  color: rgb(255, 255, 255);  
  margin-bottom: 20px;
}

.disc__txt {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: rgb(255, 255, 255);  
  margin-bottom: 20px;
  font-family: var(--second-family);
}



.disc__label {
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;  
  cursor: pointer;
  input[type="checkbox"] {
    display: none;
    + div {
      font-weight: 500;
      font-size: 14px;
      letter-spacing: -0.02em;      
      color: rgb(255, 255, 255);
      position: relative;
      padding-left: 38px;
      max-width: 315px;
      a {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.02em;        
        color: rgb(255, 255, 255);
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }  
      &:before {        
        content: "";
        display: block;
        background: rgb(220, 32, 34);
        border-radius: 8px;
        width: 28px;
        height: 28px;
        flex: 0 0 auto;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    &:checked {
      + div {
        &:before {
          background-image: url("../img/check.svg");
          background-repeat: no-repeat;
          background-position: center;          
        }
      }
    }
  }  
}

.disc__map {  
  flex: 1 1 auto;
  width: 608px;
  overflow: hidden;
  border-radius: 27px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

footer {
  margin-top: 60px;
}

.f-logo {
  display: inline-flex;
  width: 212px;
  flex: 0 0 auto;   
  &:hover {
    text-decoration: none;
  }
  > img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
} 

.footer {
  background: rgb(255, 255, 255);
  border-radius: 50px 50px 0px 0px;
  maxw-width: 1840px;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 110px;
  margin-left: auto;
  margin-right: auto;
}


.foot__w {
  display: grid;  
  grid-template-columns: 23.7% 1fr;
  gap: 20px;
}

.foot__l {  
  display: flex;
  flex-direction: column;
  gap: 30px;  
  align-items: center;  
  flex: none;
}


.head__row {
  gap: 23px;
  display: flex;
  flex-direction: column;
}

.f-logo__slogan {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgb(24, 21, 22);
}


.foot__conts {
  display: flex;
  gap: 40px;  
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 54px;
}

.foot__cont-mail {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(24, 21, 22);
  display: flex;
  align-items: center;
}

.head__span {
  margin-right: 5px;
  width: 24px;
  height: 24px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot__call__w {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}



.foot__mn__ul {
  gap: 100px;
  display: flex;  
  align-items: center;
  margin-left: auto;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      font-weight: 500;
      font-size: 18px;  
      color: #181516;  
      &:hover {
        text-decoration: none;
      }
      @media (any-hover: hover) {
        &:hover {
          color: #dc2022;            
        }
      }
      &.act {  
        color: #dc2022;            
      }
    }
  }
}

.bread {
  padding-top: 30px;
  ul {
    display: flex;    
    flex-wrap: wrap;
    gap: 10px;
    li {
      gap: 10px;        
      display: flex;
      align-items: center;
      
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 1;      
      color: var(--txt);
      a {
        color: rgba(24, 21, 22, 0.7);
        &:hover {
          text-decoration: none;
        }
      }
      &:not(:last-child) {
        &:after {
          content: "";
          display: block;          
          width: 2px;
          height: 18px;
          background-color: $r;
        }  
      }
    }
  }
}


.s-banner {
  background: rgb(242, 242, 242);
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.banner__bg {  
  background-repeat: no-repeat;
  background-position: right center;  
  padding: 80px 0px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 50px;
  min-height: 420px;
  background-color: var(--txt);
  position: relative;
  overflow: hidden;
}

.banner-img__w {
  width: 57%;  
  height: 100%;
  flex: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -170px;
    width: 80%;
    height: 100%;
    background: linear-gradient(90deg, #181516 0%, rgba(24, 21, 22, 0) 100%);
  }  
  img {
    object-position: left center;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &--portf {
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 475px;
      height: 420px;
      background: linear-gradient(90deg, #181516 0%, rgba(24, 21, 22, 0) 41%);
    }  
  }
}

.banner__row {  
  display: grid;  
  grid-template-columns: 1fr 32.21%;
  gap: 142px;
  .banner__content {
    width: auto;
    @media (min-width : 1200px) {
      p {
        font-size: 18px;
        line-height: 1.7;
      }
    }
    .h2 {
      @media (min-width : 1200px) {
        margin-bottom: 30px;
      }
    }
  }
}

.banner-img__w2 {  
  flex: none;
  aspect-ratio: 0.776 / 1;
  overflow: hidden;
  border-radius: 50px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: left center;
  }
}

.banner__content {
  display: flex;
  flex-direction: column;  
  width: 40%;
  position: relative;
  z-index: 2;
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: rgb(255, 255, 255);  
    &:last-child {
      margin-bottom: 0;
    }
  }
  &._w807 {

  }
  .h2 {
    margin-bottom: 20px;
    br {
      @media (min-width : 641px) {
        display: none;
      }
    }
  }
}








.s-deliv {
  background: rgb(242, 242, 242);
  padding-top: 60px;
  padding-bottom: 60px;
}

.deliv__w {
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.deliv__item {
  background: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 40px 30px 30px;
  display: flex;  
  flex-direction: column;
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    li {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: -0.02em;
      color: rgb(24, 21, 22);      
      position: relative;
      font-family: var(--second-family);
      &:before {
        margin-right: 10px;        
        flex: none;
        content: "";
        display: block;        
        width: 28px;
        height: 28px;
        background-image: url("../img/check-deliv.svg");
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
      }  
    }
  }
}



.deliv__img {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  img {
    max-height: 100%;
    width: auto;
  }
}

.deliv__name-w {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid rgb(220, 32, 34);
  padding-bottom: 15px;
  margin-top: 20px;
  margin-bottom: 15px;
  flex: 1 1 auto;
  width: 100%;
  align-items: center;
  min-height: 210px;
}

.deliv__name {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  color: rgb(24, 21, 22);
  text-align: center;
  max-width: 391px;
  min-height: 60px;
}

.deliv__price {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  color: rgb(220, 32, 34);
}

.deliv__txt {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgb(24, 21, 22);
  font-family: var(--second-family);
  min-height: 75px;
  margin-bottom: 0;
}



.s-zon {
  background: rgb(242, 242, 242);
  padding-top: 60px;
  padding-left: 6px;
  padding-bottom: 60px;
}

.zon__w {
  border-radius: 50px;
  background: rgb(24, 21, 22);
  padding: 120px 120px 116px;
  .h2 {
    padding-top: 0;
    text-align: center;
    &:before {
      display: none;
    }  
  }  
}

.zon__title {
  font-weight: 600;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
}

.zon__row {
  margin-top: 40px;
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 82px;
}

.zon__item-w {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.zon__item {
  border-radius: 20px;
  background: rgb(255, 255, 255);
  padding: 20px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 549px;
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    li {
      font-weight: 500;
      font-size: 15px;
      letter-spacing: -0.02em;
      color: #181516;
      display: flex;
      gap: 5px;
      align-items: center;
      font-family: var(--second-family);
      &:before {
        content: "";
        display: block;        
        width: 3px;
        height: 3px;              
        flex: none;  
        border-radius: 50%;
        background-color: var(--txt);
      }  
    }
  }
}

.zon__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 252px;
  flex: 0 0 auto;
  img {
    max-height: 100%;
    width: auto;
  }
}

.zon__name {
  border-radius: 20px;
  background: url("../img/zon-icon.svg") left 10px center no-repeat rgb(242, 242, 242);
  height: 48px;
  font-weight: 600;
  font-size: 24px;
  color: rgb(24, 21, 22);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-transform: uppercase;
}

.zon__del {
  font-weight: 600;
  font-size: 18px;
  color: rgb(220, 32, 34);
  text-align: center;
}

.zon__loc {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #000;
}



.s-payment {
  padding: 60px 0;
}



.payment__row {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.payment__item {
  background: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.payment__img {
  border-radius: 20px;
  background: rgb(220, 32, 34);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.payment__name {
  font-weight: 600;
  font-size: 24px;  
  color: #181516;  
}

.payment__txt {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: rgb(24, 21, 22);  
  margin-bottom: 0;
}



.s-imp {
  padding: 60px 0;
  
}

.imp__w {
  background-image: url("../img/imp-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  padding: 120px 119px;
  background-size: cover;
  border-radius: 50px;
}

.imp__title {
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
}

.imp__row {
  margin-top: 40px;
  display: grid;  
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;  
}

.imp__item {
  padding: 40px;
  border-radius: 20px;
  background: rgb(255, 255, 255);    
  display: flex;  
  flex-direction: column;
  ul {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    li {
      background-image: url("../img/imp-arr.svg");
      background-repeat: no-repeat;
      background-position: left top 4px;
      padding-left: 32px;
      font-weight: 500;
      font-size: 15px;
      line-height: 1.2;
      letter-spacing: -0.02em;
      color: rgb(24, 21, 22);
      text-transform: lowercase;
    }
  }
  ul.imp__req {
    gap: unset;
    li {
      padding-left: 0;
      background: none;
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 1.7;
      letter-spacing: -0.02em;
      color: var(--txt);
      b, strong {
        font-weight: 600;
      }
    }
  }
}

.imp__item-row {
  border-bottom: 2px solid rgb(220, 32, 34);
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 0px;
  padding-bottom: 15px;
  gap: 15px;
}

.imp__item-icon {
  background: rgb(220, 32, 34);
  border-radius: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.imp__itom-name {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(24, 21, 22);
  
}

.imp__txt {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgb(24, 21, 22);
  margin-bottom: 20px;  
}


.s-need {
  padding: 60px 0;
}


.need__w {
  background-image: url("../img/need-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50px;
  padding: 80px 120px 80px 120px;
  .h2 {
    @media (min-width : 1199px) {
      margin-bottom: 28px;
    }
  }
}

.need__btn-w {
  margin-top: 30px;
  display: flex;  
  justify-content: center;
  a.btn {
    margin-left: auto;
    margin-right: auto;
    max-width: 323px;
    width: 100%;
    padding: 0 30px;
  }
}

.btn__shadow-wrap {
  position: relative;
  &:after {
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    position: absolute;
    border-radius: 4px;
    width: calc(100% - 40px);
    height: 8px;
    filter: blur(12px);
    background: #000;
    z-index: 0;    
  }  
  .btn {
    z-index: 2;
  }
}

.need__title {
  font-weight: 600;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 28px;
}

.need__txt {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
}

.need__form {  
  width: 100%;
  gap: 24px;
  display: grid;  
  grid-template-columns: 34.02% 34.02% 27.86%;
}

input[type="email"],
input[type="tel"],
input[type="password"],
input[type="text"] {
  border-radius: 20px;
  height: 58px;
  background: rgb(255, 255, 255);
  padding-left: 20px;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: rgba(24, 21, 22, 0.5);  
  width: 100%; 
  font-weight: 500;
  font-family: var(--second-family);
  &:focus {
    outline: none;
  }  
}

textarea {
  border: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;  
  color: rgba(24, 21, 22, 0.5);
  border-radius: 20px;
  padding: 19px;
  width: 100%;
  height: 82px;
  background: #fff;
  font-family: var(--second-family);
}

.need__btn {
  width: auto;
  font-size: 20px;
  @media (min-width : 1199px) {
    height: 60px;
  }
}

.slick-dots {
  position: absolute;
  bottom: -32px;
  width: 100%;
  display: flex;    
  justify-content: center;
  z-index: 11;
  left: 50vw;
  width: auto;
  transform: translateX(-50%);
  li {
    font-size: 0;
    background: none;
    padding: 0;
    margin: 0 6px;
    button {
      padding: 0;
      font-size: 0;
      outline: none;
      border: none;
      width: 12px;
      height: 12px;
      background-color: rgba(255, 255, 255, 0.5);

      border-radius: 50%;
    }
    &.slick-active {
      button {
        background: #fff;        
      }
    }
  }
}

.item {
  overflow: hidden;
  border-radius: 20px;
  background-color: #FFF;
  padding: 20px;
  display: flex;  
  flex-direction: column;
}

.item-img__w {
  border-radius: 20px;
  display: flex;  
  align-items: center;
  justify-content: center;  
  overflow: hidden;
  width: 100%;  
  flex: none;
}

.s-products {
  padding: 60px 0;
}

.products__row {
  display: grid;  
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 24px;
}


.products__item {
  .item-img__w {
    background: rgba(24, 21, 22, 0.15); 
    height: 240px;   
  }
  .item__body {
    padding-top: 20px;
    display: flex;    
    flex-direction: column;    
    justify-content: flex-end;    
    flex-grow: 1;
    p {
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 15px;
      line-height: 1.5;
      letter-spacing: -0.02em;
      color: rgba(24, 21, 22, 0.8);
      margin-bottom: 20px;
    }
  }
  .btn {
    margin-top: auto;
    width: 100%;
  }
}

.products__title {
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--txt);
  display: block;
  min-height: 58px;
  &:hover {
    text-decoration: none;
  }
}

.s-advantss {
  padding: 60px 0;
}

.advantss__row {
  display: grid;  
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.advantss__item {
  background: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;  
}

.advantss__img {
  border-radius: 20px;
  background: rgb(220, 32, 34);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  margin-bottom: 20px;
}

.advantss__name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--txt); 
  margin-bottom: 15px;
  min-height: 60px;
}

.advantss__txt {
  margin-top: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: rgb(24, 21, 22);  
  margin-bottom: 0;
  min-height: 75px;
}


.s-comp-prof {
  padding: 60px 0;
}

.comp-prof {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  &._inv {
    .comp-prof__item {
      background-color: #FFF;
    }    
  }
}

.comp-prof__item {
  background: rgb(245, 245, 245);
  border-radius: 20px;
  padding: 40px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.comp-prof__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  flex: 0 0 auto;
}

.comp-prof__title {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: rgb(24, 21, 22);
  max-width: 391px;
}

.comp-prof__txt {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgb(24, 21, 22);  
  margin-bottom: 0;
}

.s-video {
  padding: 60px 0;
}

.s-conts {
  padding: 50px 0 24px 0;
}


.conts__row {
  display: grid;  
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.conts__item {
  padding: 40px 30px;
  display: flex;  
  flex-direction: column;
  .item-img__w {
    margin-bottom: 20px;
  }
}

.conts__lbl {
  border-radius: 20px;
  width: 100%; 
  background-color: $r;
  height: 48px;
  display: flex;  
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.conts__infos {
  display: flex;    
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  p,
  a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 1;    
    text-align: center;
    color: var(--txt);
    margin-bottom: 0;
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
  a {
    + a {
      margin-top: 10px;
    }
  }
  span {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--txt);
  }
}

.conts__info {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--txt);
  margin-top: auto;
}


.s-contsmap {
  padding: 0 0 60px 0;
}

.contsmap__item {
  @media (min-width : 641px) {    
    border-radius: 50px;
  }
  .item-img__w {
    height: 400px;  
    border-radius: 40px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }  
  .item__body {
    padding-top: 30px;
  }
  .contsmap__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 30px;
    line-height: 1;    
    text-align: center;
    color: var(--txt);
    margin-bottom: 15px;
  }
  .contsmap__txt {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--txt);
    margin-bottom: 30px;
  }
  .contsmap__links {    
    align-items: center;    
    justify-content: center;
    display: flex;
    gap: 24px;    
    flex-wrap: wrap;
    margin-bottom: 20px;
    a {
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 1;
      letter-spacing: -0.02em;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      text-align: center;
      color: #0059ff;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.s-vform {
  padding: 60px 0;
}

.vform {
  background: var(--txt);
  border-radius: 50px;
  padding: 80px 0;
  form {
    max-width: 688px;
    margin-left: auto;
    margin-right: auto;
    display: flex;    
    flex-direction: column;
    gap: 15px;
  }
  .h2 {
    margin-bottom: 10px;
  }
}

//2000

@import "_after-styless";

.adv-comp__video._stat {
  margin-bottom: 0;
}

._norad {  
  border-radius: 0;
}

._nopadd {
  padding: 0;
}

._wh {
  color: #FFF;
}

._low {
  text-transform: none;
}

._tac {
  text-align: center;
}

._nob {
  padding-top: 0;
  &:before {
    display: none;
  }  
}

body {  
  &.active {
    background: url("../img/1920.jpg") no-repeat top -10px center;
    .wrapper {
      opacity: 0.4;
    } 
    .footer {
      opacity: 0.4;
    }
    .get {
      opacity: 0.4;
    }
  }    
}